.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.projects-header {
  font-weight: 600;
  font-size: clamp(18px, 8vw, 50px);
  padding: 0.8rem 0.2rem;
  position: relative;
  margin-bottom: 5rem;
}

.projects-header span {
  color: var(--main-color);
}

.projects-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0.5rem;
  left: -0.4rem;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 3rem;
}

.projects-header::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  height: 0.5rem;
  left: -1.1rem;
  width: 50%;
  background-color: var(--main-color);
  border-radius: 3rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 2rem;
  row-gap: 3rem;
}
